/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --roboto: "Roboto", sans-serif;
    --play: "Playfair Display", serif;
    --light: #f8f9fa;
}

body {
    overflow-x: hidden;
    background: var(--light);
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

section {
    padding: 60px 0;
}

/* Header */
header > .container {
    position: relative;
    height: 100%;
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        linear-gradient(rgba(136, 97, 29, 0.5), rgba(136, 97, 29, 0.5)),
        url("img/jonathan-weiss-horizontal.jpg") center no-repeat;
    background-size: cover;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background-color: rgb(136, 97, 29);
    z-index: 10;
}

.navbar-brand {
    position: absolute;
    max-width: 125px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 650ms;
}

.navbar-brand:hover {
    opacity: 0.8;
}

.header.active .navbar-brand {
    width: 50px;
}

.hamburger-menu {
    position: absolute;
    top: 25px;
    right: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger-menu i {
    font-size: 30px;
    color: #fff;
    margin: auto;
}

.hamburger-menu .fa-times {
    display: none;
}

.hamburger-menu .fa-times.open {
    display: block;
}

.hamburger-menu .fa-bars.open {
    display: none;
}

.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    background-color: rgb(136, 97, 29);
    font-family: var(--play);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    pointer-events: none;
    transition: opacity 650ms;
}

.nav-list.open {
    opacity: 1;
    pointer-events: all;
}

.nav-link {
    font-size: 2.5rem;
}

.hero-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
}

.hero-text h1 {
    font-family: var(--play);
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.hero-text h4 {
    font-size: 2rem;
}

.hero-text h4::before {
    background: #bc9321;
    width: 50px;
    height: 1px;
    position: absolute;
    content: "";
    bottom: 7%;
    left: 20%;
}

.hero-text h4::after {
    background: #bc9321;
    width: 50px;
    height: 1px;
    position: absolute;
    content: "";
    bottom: 7%;
    right: 20%;
}

/* About */
.about-img {
    position: relative;
    margin: 4rem auto;
    width: 350px;
}

.hours {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--light);
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hours img {
    padding-bottom: 2rem;
}

.hours h2 {
    padding-bottom: 2rem;
    color: #4a3600;
    font-family: var(--play);
    font-weight: bold;
}

.hours p {
    font-family: var(--roboto);
    font-size: 1.2rem;
    font-weight: 300;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-text h4 {
    margin-top: 4rem;
    padding-bottom: 4rem;
    color: #bc9321;
    font-family: var(--roboto);
    font-size: 2rem;
}

.about-text h2 {
    padding-bottom: 2rem;
    font-size: 4rem;
    font-family: var(--play);
    color: #4a3600;
}

.about-text p {
    font-family: var(--roboto);
    font-size: 1.5rem;
    color: #696969;
}

.about-text a {
    font-family: var(--play);
    font-size: 1.8rem;
    margin-top: 4rem;
    padding: 2rem 4rem;
    background: #4a3600;
    border: 1px solid #4a3600;
    color: white;
    transition: all 0.5s ease;
}

.about-text a:hover {
    color: #4a3600;
    background: white;
}

/* Services */
.services {
    padding-bottom: 0;
}

.services-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("img/allef-vinicius-horizontal.jpg") top no-repeat;
    background-size: cover;
    height: 400px;
}

.services-header h2 {
    color: white;
    font-family: var(--play);
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
}

.services-header h2::after {
    background: #bc9321;
    width: 50px;
    height: 1px;
    position: absolute;
    content: "";
    bottom: -50%;
    right: 33%;
}

.services-header i {
    padding-bottom: 2rem;
    font-size: 3rem;
    color: white;
}

.services-card {
    background-color: white;
    width: 90%;
    height: 110rem;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-100px);
}

.services-card .row {
    padding-top: 5rem;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.item-img {
    padding-right: 1rem;
    padding-left: 2rem;
}

.item span {
    margin-right: 3rem;
    font-size: 1.8rem;
    font-family: var(--play);
    font-weight: bold;
}

.price {
    font-size: 1.8rem;
    font-family: var(--play);
    color: #bc9321;
}

/* Slideshow */
.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideshow h2 {
    color: #4a3600;
    font-family: var(--play);
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 3rem;
    position: relative;
}

.slideshow h2::after {
    background: #bc9321;
    width: 50px;
    height: 2px;
    position: absolute;
    content: "";
    bottom: 30%;
    right: 30%;
}

.slideshow i {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.carousel {
    margin: 0 auto;
    width: 75%;
}

.slick-prev::before,
.slick-next::before {
    color: #bc9321 !important;
    font-size: 3rem;
}

.slick-prev {
    transform: translateX(-2rem);
}

.slick-next {
    transform: translateX(1rem);
}

/* Our Team */
.our-team {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.our-team-header {
    margin-bottom: 5rem;
}

.our-team-header h2 {
    color: #4a3600;
    font-family: var(--play);
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 3rem;
    position: relative;
}

.our-team-header h2::after {
    background: #bc9321;
    width: 50px;
    height: 2px;
    position: absolute;
    content: "";
    bottom: 30%;
    right: 48%;
}

.our-team-header i {
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 10rem;
}

.barber {
    position: relative;
    margin-bottom: 3rem;
    width: 80%;
    margin-left: 10%;
}

.barber h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: transparent;
    transition: color 1s ease;
    z-index: 2;
}

.barber:hover h3 {
    color: #bc9321;
}

.img-darken {
    transition: 1s;
    filter: brightness(20%);
}

/* Contact */
.contact {
    margin-top: 15rem;
    background: url("img/contact.jpg") center no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}

.find-us {
    width: 350px;
    height: 500px;
    background: #bc9321;
    position: absolute;
    right: 15%;
    top: 0;
    color: white;
    font-family: var(--roboto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

.find-us h2 {
    font-size: 3.5rem;
    font-family: var(--play);
    padding-bottom: 3rem;
}

.find-us h4 {
    color: black;
    font-size: 1.6rem;
    margin-left: 2rem;
}

.contact-info {
    padding: 1rem 0;
}

/* Footer */
.footer .container {
    position: relative;
}

.back-to-top {
    width: 7rem;
    height: 7rem;
    background-color: #4a3600;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.back-to-top i {
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 2.6rem;
    animation: up 2s infinite;
}

.back-to-top a:hover {
    text-decoration: none;
}

.footer {
    background: #4a3600;
    color: white;
}

.footer .row {
    margin: 0 auto;
    padding-top: 5rem;
}

.footer h2 {
    font-size: 2.5rem;
    font-family: var(--play);
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.footer a,
.footer p {
    font-size: 1.2rem;
    color: #b2b2b2;
    font-family: var(--roboto);
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.newsletter-form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.newsletter-input {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: 0.4rem;
}

.newsletter-btn {
    background-color: transparent;
    border: none;
    color: var(--main-font-color-dark);
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px 0.6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10.5rem;
}

.fa-envelope {
    color: black;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #b2b2b2;
    padding-bottom: 5rem;
    margin-top: 5rem;
}

@keyframes up {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}

@media screen and (min-width: 992px) {
    .nav-list {
        position: absolute;
        height: 100px;
        width: 60%;
        right: 0;
        flex-direction: row;
        background-color: transparent;
        opacity: 1;
        pointer-events: all;
        margin-left: auto;
        margin-top: 3rem;
    }

    .nav-link {
        display: inline-block;
        font-size: 2rem;
        position: relative;
    }

    .hamburger-menu {
        display: none;
    }

    .navbar-brand {
        left: 100px;
    }

    .hero-text h4::before {
        left: 35%;
    }

    .hero-text h4::after {
        right: 35%;
    }

    .services-card {
        width: 70%;
        height: 70vh;
    }

    .carousel {
        width: 50%;
    }

    .barber {
        width: 100%;
    }

    .our-team .row {
        transform: translateX(-2rem);
    }

    .nav-link::before {
        content: "";
        position: absolute;
        left: 0;
        background-color: #c69963;
        width: 80%;
        margin-left: 10%;
        height: 2px;
        bottom: -3px;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 650ms;
    }

    .nav-link:hover::before {
        transform: scaleX(1);
    }
}
